n8n/yahoo-upwork-alerts.workflow.json
{
  "name": "Yahoo Upwork Alerts -> API Intake",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "downloadAttachments": false,
        "format": "resolved",
        "options": {
          "customEmailConfig": "=[\n  \"UNSEEN\",\n  [\"FROM\", \"donotreply@upwork.com\"]\n]",
          "trackLastMessageId": true
        }
      },
      "id": "9c00f3f4-7d2e-4e0b-acde-5a4191935f18",
      "name": "Yahoo IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "notesInFlow": true,
      "notes": "Attach your Yahoo IMAP credential in n8n. Use the Yahoo app password, not your normal login password. This workflow is for future incoming alerts after activation."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Paste this into an n8n Code node that runs after your Yahoo IMAP trigger.\n// It normalizes the mail item into the JSON contract expected by POST /api/intake/email.\n\nconst PARSE_VERSION = \"yahoo-imap-v3\";\n\nfunction pickString(...values) {\n  for (const value of values) {\n    if (typeof value === \"string\" && value.trim().length > 0) {\n      return value.trim();\n    }\n  }\n\n  return undefined;\n}\n\nfunction cleanHeaderValue(value) {\n  return pickString(value)?.replace(/^[A-Za-z-]+:\\s*/, \"\");\n}\n\nfunction extractEmail(value) {\n  const normalized = cleanHeaderValue(value);\n  if (!normalized) {\n    return undefined;\n  }\n\n  const match = normalized.match(/<([^>]+)>/);\n  return match ? match[1].trim() : normalized;\n}\n\nfunction toIsoDate(value) {\n  if (!value) {\n    return undefined;\n  }\n\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? undefined : parsed.toISOString();\n}\n\nfunction stripHtml(html) {\n  return html\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction decodeHtmlEntities(value) {\n  return value\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&hellip;/gi, \"...\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&quot;/g, \"\\\"\");\n}\n\nfunction getNonEmptyLines(rawText) {\n  return rawText\n    .split(/\\r?\\n/)\n    .map((line) => decodeHtmlEntities(line).replace(/\\s+/g, \" \").trim())\n    .filter(Boolean);\n}\n\nfunction parseCompactAmount(value) {\n  const match = value.match(/\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?)([KMB])?/i);\n  if (!match) {\n    return undefined;\n  }\n\n  const baseAmount = Number(match[1].replace(/,/g, \"\"));\n  if (!Number.isFinite(baseAmount)) {\n    return undefined;\n  }\n\n  const suffix = match[2]?.toUpperCase();\n  const multiplier = suffix === \"K\"\n    ? 1_000\n    : suffix === \"M\"\n      ? 1_000_000\n      : suffix === \"B\"\n        ? 1_000_000_000\n        : 1;\n\n  return baseAmount * multiplier;\n}\n\nfunction normalizeCountry(value) {\n  const normalized = value.replace(/\\s+/g, \" \").trim();\n  const upper = normalized.toUpperCase();\n  const aliases = {\n    AUS: \"Australia\",\n    BGD: \"Bangladesh\",\n    CAN: \"Canada\",\n    COL: \"Colombia\",\n    DEU: \"Germany\",\n    DNK: \"Denmark\",\n    GBR: \"United Kingdom\",\n    GEO: \"Georgia\",\n    IND: \"India\",\n    ISR: \"Israel\",\n    PAK: \"Pakistan\",\n    UKR: \"Ukraine\",\n    USA: \"United States\",\n    US: \"United States\",\n    VNM: \"Vietnam\"\n  };\n\n  if (upper === \"U.S.A.\") {\n    return \"United States\";\n  }\n\n  if (upper === \"UK\" || upper === \"U.K.\") {\n    return \"United Kingdom\";\n  }\n\n  if (aliases[upper]) {\n    return aliases[upper];\n  }\n\n  return normalized;\n}\n\nfunction findFirstUrl(text) {\n  const match = text.match(/https?:\\/\\/\\S+/i);\n  return match ? match[0].replace(/[)>.,]+$/, \"\") : undefined;\n}\n\nfunction canonicalizeUpworkJobUrl(url) {\n  if (!url) {\n    return undefined;\n  }\n\n  const decodedUrl = decodeHtmlEntities(url);\n\n  try {\n    const parsed = new URL(decodedUrl);\n    return `${parsed.origin}${parsed.pathname}`;\n  } catch {\n    return decodedUrl;\n  }\n}\n\nfunction extractJobUrl(text, html) {\n  const directMatch = text.match(/View job details:\\s*(https?:\\/\\/\\S+)/i);\n  if (directMatch) {\n    return canonicalizeUpworkJobUrl(directMatch[1]);\n  }\n\n  const snippetMatch = text.match(/more:\\s*(https?:\\/\\/\\S+)/i);\n  if (snippetMatch) {\n    return canonicalizeUpworkJobUrl(snippetMatch[1]);\n  }\n\n  return canonicalizeUpworkJobUrl(findFirstUrl(html) ?? findFirstUrl(text));\n}\n\nfunction parseUpworkPath(sourceUrl) {\n  if (!sourceUrl) {\n    return \"\";\n  }\n\n  try {\n    return new URL(sourceUrl).pathname.toLowerCase();\n  } catch {\n    return sourceUrl.toLowerCase();\n  }\n}\n\nfunction isLikelyUpworkJobAlert(subject, title, rawText, sourceUrl) {\n  const safeSubject = subject?.trim().toLowerCase() ?? \"\";\n  const safeTitle = title?.trim().toLowerCase() ?? \"\";\n  const safeText = rawText?.trim().toLowerCase() ?? \"\";\n  const path = parseUpworkPath(sourceUrl);\n\n  const hasJobUrl = path.includes(\"/jobs/~\");\n  const hasJobSubject = safeSubject.startsWith(\"new job:\") || safeSubject.startsWith(\"new jobs matching:\");\n  const hasJobBody =\n    safeText.includes(\"new job alert\") ||\n    (safeText.includes(\"view job details:\") && /posted on \\d{4}-\\d{2}-\\d{2}/i.test(rawText));\n\n  const hasNegativeSubject = /milestones? have been updated|milestone|workroom|offer|interview|proposal|message/i.test(\n    `${safeSubject} ${safeTitle}`\n  );\n  const hasNegativeBody =\n    safeText.includes(\"your milestones have been updated\") ||\n    safeText.includes(\"made updates to your contract\") ||\n    safeText.includes(\"workroom\");\n  const hasNegativeUrl =\n    path.includes(\"/workroom/\") ||\n    path.includes(\"/offers/\") ||\n    path.includes(\"/messages/\") ||\n    path.includes(\"/contracts/\");\n\n  return hasJobUrl && (hasJobSubject || hasJobBody) && !hasNegativeSubject && !hasNegativeBody && !hasNegativeUrl;\n}\n\nfunction parsePricing(rawText) {\n  const fixedPrefixMatch = rawText.match(/Fixed(?:-price)?:\\s*\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?)/i);\n  if (fixedPrefixMatch) {\n    const fixedBudgetMin = parseCompactAmount(fixedPrefixMatch[1]);\n    if (fixedBudgetMin !== undefined) {\n      return {\n        pricingType: \"FIXED\",\n        fixedBudgetMin\n      };\n    }\n  }\n\n  const fixedTitleMatch = rawText.match(/\\(Fixed(?: Price)?\\s*\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?)\\)/i);\n  if (fixedTitleMatch) {\n    const fixedBudgetMin = parseCompactAmount(fixedTitleMatch[1]);\n    if (fixedBudgetMin !== undefined) {\n      return {\n        pricingType: \"FIXED\",\n        fixedBudgetMin\n      };\n    }\n  }\n\n  const hourlyRangeMatch = rawText.match(/Hourly:\\s*\\$?(\\d+(?:\\.\\d+)?)\\s*-\\s*\\$?(\\d+(?:\\.\\d+)?)/i);\n  if (hourlyRangeMatch) {\n    return {\n      pricingType: \"HOURLY\",\n      hourlyMin: Number(hourlyRangeMatch[1]),\n      hourlyMax: Number(hourlyRangeMatch[2])\n    };\n  }\n\n  const hourlyMatch = rawText.match(/\\$?(\\d+(?:\\.\\d+)?)\\s*-\\s*\\$?(\\d+(?:\\.\\d+)?)\\s*\\/\\s*hr/i);\n  if (hourlyMatch) {\n    return {\n      pricingType: \"HOURLY\",\n      hourlyMin: Number(hourlyMatch[1]),\n      hourlyMax: Number(hourlyMatch[2])\n    };\n  }\n\n  const fixedMatch = rawText.match(/budget[:\\s]+\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?)/i);\n  if (fixedMatch) {\n    const fixedBudgetMin = parseCompactAmount(fixedMatch[1]);\n    if (fixedBudgetMin !== undefined) {\n      return {\n        pricingType: \"FIXED\",\n        fixedBudgetMin\n      };\n    }\n  }\n\n  return {\n    pricingType: \"UNKNOWN\"\n  };\n}\n\nfunction normalizeDuration(line) {\n  const normalized = line.replace(/\\s+/g, \" \").trim();\n\n  if (/^(?:<\\s*1 month|less than 1 month)$/i.test(normalized)) {\n    return {\n      value: \"less than 1 month\"\n    };\n  }\n\n  if (/^(?:1-3 months|1 to 3 months)$/i.test(normalized)) {\n    return {\n      value: \"1-3 months\"\n    };\n  }\n\n  if (/^(?:3-6 months|3 to 6 months)$/i.test(normalized)) {\n    return {\n      value: \"3-6 months\"\n    };\n  }\n\n  if (/^(?:6\\+ months|>\\s*6 months|more than 6 months)$/i.test(normalized)) {\n    return {\n      value: \"6+ months\"\n    };\n  }\n\n  return undefined;\n}\n\nfunction parseDuration(rawText) {\n  for (const line of getNonEmptyLines(rawText)) {\n    const normalized = normalizeDuration(line);\n    if (normalized) {\n      return normalized.value;\n    }\n  }\n\n  return undefined;\n}\n\nfunction normalizeWorkload(line) {\n  const normalized = line.replace(/\\s+/g, \" \").trim();\n\n  const lessThanMatch = normalized.match(/^<\\s*(\\d+)\\s*(?:hr\\/wk|hrs?\\/week)$/i);\n  if (lessThanMatch) {\n    return `< ${lessThanMatch[1]} hr/wk`;\n  }\n\n  const moreThanMatch = normalized.match(/^>\\s*(\\d+)\\s*(?:hr\\/wk|hrs?\\/week)$/i);\n  if (moreThanMatch) {\n    return `> ${moreThanMatch[1]} hr/wk`;\n  }\n\n  const exactMatch = normalized.match(/^(\\d+)\\+?\\s*(?:hr\\/wk|hrs?\\/week)$/i);\n  if (exactMatch) {\n    return normalized.includes(\"+\") ? `${exactMatch[1]}+ hr/wk` : `${exactMatch[1]} hr/wk`;\n  }\n\n  return undefined;\n}\n\nfunction parseWorkload(rawText) {\n  for (const line of getNonEmptyLines(rawText)) {\n    const normalized = normalizeWorkload(line);\n    if (normalized) {\n      return normalized;\n    }\n  }\n\n  return undefined;\n}\n\nfunction parseExperienceLevel(rawText) {\n  const match = rawText.match(/\\b(entry|intermediate|expert)\\b/i);\n  return match ? match[1][0].toUpperCase() + match[1].slice(1).toLowerCase() : undefined;\n}\n\nfunction extractTitle(subject, rawText) {\n  const subjectTitle = pickString(subject)\n    ?.replace(/^new jobs matching:\\s*/i, \"\")\n    .replace(/^new job:\\s*/i, \"\")\n    .trim();\n  if (subjectTitle && !/^new job alert$/i.test(subjectTitle)) {\n    return subjectTitle;\n  }\n\n  const titleLine = getNonEmptyLines(rawText).find((line) =>\n    line.length > 12 &&\n    !/^new job alert$/i.test(line) &&\n    !/^hi,\\s/i.test(line) &&\n    !/^[-]+$/i.test(line)\n  );\n\n  return titleLine ?? \"Yahoo job alert\";\n}\n\nfunction extractPostedAt(rawText) {\n  const match = rawText.match(/Posted on (\\d{4}-\\d{2}-\\d{2}) (\\d{2}:\\d{2})/i);\n  if (!match) {\n    return undefined;\n  }\n\n  // Upwork shows this timestamp in UTC in the email HTML tooltip.\n  return `${match[1]}T${match[2]}:00.000Z`;\n}\n\nfunction extractVisibleSkills(rawText) {\n  const matches = [...rawText.matchAll(/^\\s*([A-Za-z0-9.+/#&,'() -]{2,60}):\\s+https?:\\/\\/www\\.upwork\\.com\\/jobs\\/~/gim)];\n  const excludedLabels = new Set([\n    \"more\",\n    \"view job details\",\n    \"privacy policy\",\n    \"contact support\",\n    \"manage your alert preferences\"\n  ]);\n\n  const visibleSkills = [];\n  let visibleSkillsExtraCount;\n\n  for (const match of matches) {\n    const label = decodeHtmlEntities(match[1]).replace(/\\s+/g, \" \").trim();\n    if (excludedLabels.has(label.toLowerCase())) {\n      continue;\n    }\n\n    if (/^\\+\\d+$/.test(label)) {\n      visibleSkillsExtraCount = Math.max(visibleSkillsExtraCount ?? 0, Number(label.slice(1)));\n      continue;\n    }\n\n    if (/^\\d+$/.test(label) || /\\.\\.\\./.test(label) || /\\bmore\\b/i.test(label)) {\n      continue;\n    }\n\n    visibleSkills.push(label);\n  }\n\n  return {\n    visibleSkills: [...new Set(visibleSkills)],\n    visibleSkillsExtraCount\n  };\n}\n\nfunction extractClientSpent(rawText) {\n  const match = rawText.match(/\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?)\\s+spent/i);\n  return match ? parseCompactAmount(match[1]) : undefined;\n}\n\nfunction extractClientCountry(rawText) {\n  const match = rawText.match(\n    /\\$?\\s*\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?\\s+spent\\s+([A-Za-z][A-Za-z .'-]{1,40})(?=\\s+(?:[A-Za-z0-9.+/#&,'() -]{2,60}:\\s+https?:\\/\\/www\\.upwork\\.com\\/jobs\\/~|Posted on|View job details))/is\n  );\n\n  return match ? normalizeCountry(match[1]) : undefined;\n}\n\nfunction extractClientRating(rawText) {\n  const match = rawText.match(\n    /Payment (?:verified|unverified)\\s+(\\d(?:\\.\\d{1,2})?)(?=\\s+\\$?\\s*\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?\\s+spent)/is\n  );\n\n  if (!match) {\n    return undefined;\n  }\n\n  const rating = Number(match[1]);\n  return rating > 0 ? rating : undefined;\n}\n\nfunction extractClientSignals(rawText) {\n  const lines = getNonEmptyLines(rawText);\n  let clientPaymentVerified;\n  let clientRating;\n  let clientSpent;\n  let clientCountry;\n\n  for (let index = 0; index < lines.length; index += 1) {\n    const line = lines[index];\n\n    if (/^Payment verified\\b/i.test(line)) {\n      clientPaymentVerified = true;\n    } else if (/^Payment unverified\\b/i.test(line)) {\n      clientPaymentVerified = false;\n    }\n\n    if (\n      clientRating === undefined &&\n      /^\\d(?:\\.\\d{1,2})?$/.test(line) &&\n      /^Payment (?:verified|unverified)\\b/i.test(lines[index - 1] ?? \"\")\n    ) {\n      const rating = Number(line);\n      clientRating = rating > 0 ? rating : undefined;\n    }\n\n    const spentLineMatch = line.match(/^\\$?\\s*(\\d+(?:,\\d{3})*(?:\\.\\d+)?(?:[KMB])?)\\s+spent$/i);\n    if (spentLineMatch) {\n      clientSpent = parseCompactAmount(spentLineMatch[1]);\n\n      const countryLine = lines[index + 1];\n      if (\n        countryLine &&\n        /^[A-Za-z][A-Za-z .'-]{1,40}$/.test(countryLine) &&\n        !/^Posted on\\b/i.test(countryLine) &&\n        !/^View job details\\b/i.test(countryLine)\n      ) {\n        clientCountry = normalizeCountry(countryLine);\n      }\n    }\n  }\n\n  return {\n    agencyRequired: /agency required/i.test(rawText),\n    clientCountry: clientCountry ?? extractClientCountry(rawText),\n    clientPaymentVerified,\n    clientRating: clientRating ?? extractClientRating(rawText),\n    clientSpent: clientSpent ?? extractClientSpent(rawText)\n  };\n}\n\nfunction isDescriptionTruncated(rawText) {\n  return /\\.\\.\\.\\s+more:/i.test(rawText);\n}\n\nconst input = $json;\nconst headers = input.headers ?? {};\nconst subject = pickString(\n  cleanHeaderValue(input.subject),\n  cleanHeaderValue(headers.subject)\n) ?? \"Yahoo job alert\";\nconst sender = pickString(\n  extractEmail(input.from?.text),\n  extractEmail(input.from?.address),\n  extractEmail(input.from),\n  extractEmail(headers.from),\n  extractEmail(headers.sender)\n) ?? \"unknown\";\nconst externalId = pickString(\n  cleanHeaderValue(input.messageId),\n  cleanHeaderValue(headers[\"message-id\"]),\n  input.id\n);\nconst receivedAt = toIsoDate(\n  input.date ?? input.receivedAt ?? input.sentDate ?? cleanHeaderValue(headers.date)\n);\nconst html = pickString(input.html, input.htmlBody, input.messageHtml) ?? \"\";\nconst text = pickString(input.text, input.textPlain, input.messageText) ?? stripHtml(html);\nconst title = extractTitle(subject, text);\nconst sourceUrl = extractJobUrl(text, html);\n\nif (!isLikelyUpworkJobAlert(subject, title, text, sourceUrl)) {\n  return [];\n}\n\nconst postedAt = extractPostedAt(text);\nconst pricing = parsePricing(text);\nconst visibleSkillsInfo = extractVisibleSkills(text);\nconst clientSignals = extractClientSignals(text);\n\nreturn [{\n  json: {\n    channel: \"EMAIL_ALERT\",\n    externalId,\n    parseVersion: PARSE_VERSION,\n    subject,\n    sender,\n    receivedAt,\n    postedAt,\n    title,\n    sourceUrl,\n    rawText: text,\n    summary: text.slice(0, 280),\n    pricingType: pricing.pricingType,\n    hourlyMin: pricing.hourlyMin,\n    hourlyMax: pricing.hourlyMax,\n    fixedBudgetMin: pricing.fixedBudgetMin,\n    durationText: parseDuration(text),\n    workloadText: parseWorkload(text),\n    experienceLevel: parseExperienceLevel(text),\n    visibleSkills: visibleSkillsInfo.visibleSkills,\n    clientCountry: clientSignals.clientCountry,\n    clientPaymentVerified: clientSignals.clientPaymentVerified,\n    clientRating: clientSignals.clientRating,\n    clientSpent: clientSignals.clientSpent,\n    agencyRequired: clientSignals.agencyRequired,\n    rawPayload: {\n      source: \"yahoo-imap\",\n      mailbox: pickString(input.mailbox, input.folder) ?? \"INBOX\",\n      originalHtml: html || undefined,\n      originalText: text,\n      headers,\n      derived: {\n        agencyRequired: clientSignals.agencyRequired,\n        clientCountry: clientSignals.clientCountry,\n        clientPaymentVerified: clientSignals.clientPaymentVerified,\n        clientRating: clientSignals.clientRating,\n        clientSpent: clientSignals.clientSpent,\n        descriptionTruncated: isDescriptionTruncated(text),\n        visibleSkillsExtraCount: visibleSkillsInfo.visibleSkillsExtraCount,\n        postedAt,\n        visibleSkills: visibleSkillsInfo.visibleSkills\n      }\n    }\n  }\n}];\n"
      },
      "id": "a96ea83a-6209-4477-b88f-f87c4f3b14dd",
      "name": "Normalize Yahoo Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "notesInFlow": true,
      "notes": "Keep this node small and deterministic. It converts the raw IMAP item into the backend intake contract."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/intake/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-intake-key",
              "value": "replace-with-your-intake-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "5370e65f-7d61-4541-97e6-d06a38504a7e",
      "name": "Post Intake to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "notesInFlow": true,
      "notes": "If n8n runs on the same host as the API, change the URL to http://localhost:4000/api/intake/email."
    }
  ],
  "connections": {
    "Yahoo IMAP Trigger": {
      "main": [
        [
          {
            "node": "Normalize Yahoo Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Yahoo Alert": {
      "main": [
        [
          {
            "node": "Post Intake to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f63f18f4-6bbb-4900-a6a4-57e6a9e06b2d",
  "id": "yahoo-upwork-alerts-api-intake",
  "tags": []
}
