n8n/yahoo-upwork-alerts.workflow.json
{
  "name": "Yahoo Upwork Alerts -> API Intake",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "nothing",
        "downloadAttachments": false,
        "format": "resolved",
        "options": {
          "customEmailConfig": "=[\n  \"UNSEEN\",\n  [\"FROM\", \"donotreply@upwork.com\"]\n]",
          "trackLastMessageId": true
        }
      },
      "id": "9c00f3f4-7d2e-4e0b-acde-5a4191935f18",
      "name": "Yahoo IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "notesInFlow": true,
      "notes": "Attach your Yahoo IMAP credential in n8n. Use the Yahoo app password, not your normal login password. This workflow is for future incoming alerts after activation."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Paste this into an n8n Code node that runs after your Yahoo IMAP trigger.\n// It normalizes the mail item into the JSON contract expected by POST /api/intake/email.\n\nfunction pickString(...values) {\n  for (const value of values) {\n    if (typeof value === \"string\" && value.trim().length > 0) {\n      return value.trim();\n    }\n  }\n\n  return undefined;\n}\n\nfunction cleanHeaderValue(value) {\n  return pickString(value)?.replace(/^[A-Za-z-]+:\\s*/, \"\");\n}\n\nfunction extractEmail(value) {\n  const normalized = cleanHeaderValue(value);\n  if (!normalized) {\n    return undefined;\n  }\n\n  const match = normalized.match(/<([^>]+)>/);\n  return match ? match[1].trim() : normalized;\n}\n\nfunction toIsoDate(value) {\n  if (!value) {\n    return undefined;\n  }\n\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? undefined : parsed.toISOString();\n}\n\nfunction stripHtml(html) {\n  return html\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction decodeHtmlEntities(value) {\n  return value\n    .replace(/&amp;/gi, \"&\")\n    .replace(/&nbsp;/gi, \" \")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&quot;/g, \"\\\"\");\n}\n\nfunction findFirstUrl(text) {\n  const match = text.match(/https?:\\/\\/\\S+/i);\n  return match ? match[0].replace(/[)>.,]+$/, \"\") : undefined;\n}\n\nfunction canonicalizeUpworkJobUrl(url) {\n  if (!url) {\n    return undefined;\n  }\n\n  const decodedUrl = decodeHtmlEntities(url);\n\n  try {\n    const parsed = new URL(decodedUrl);\n    return `${parsed.origin}${parsed.pathname}`;\n  } catch {\n    return decodedUrl;\n  }\n}\n\nfunction extractJobUrl(text, html) {\n  const directMatch = text.match(/View job details:\\s*(https?:\\/\\/\\S+)/i);\n  if (directMatch) {\n    return canonicalizeUpworkJobUrl(directMatch[1]);\n  }\n\n  const snippetMatch = text.match(/more:\\s*(https?:\\/\\/\\S+)/i);\n  if (snippetMatch) {\n    return canonicalizeUpworkJobUrl(snippetMatch[1]);\n  }\n\n  return canonicalizeUpworkJobUrl(findFirstUrl(html) ?? findFirstUrl(text));\n}\n\nfunction parsePricing(rawText) {\n  const fixedPrefixMatch = rawText.match(/Fixed:\\s*\\$?(\\d+(?:,\\d{3})*(?:\\.\\d+)?)/i);\n  if (fixedPrefixMatch) {\n    return {\n      pricingType: \"FIXED\",\n      fixedBudgetMin: Number(fixedPrefixMatch[1].replace(/,/g, \"\"))\n    };\n  }\n\n  const hourlyRangeMatch = rawText.match(/Hourly:\\s*\\$?(\\d+(?:\\.\\d+)?)\\s*-\\s*\\$?(\\d+(?:\\.\\d+)?)/i);\n  if (hourlyRangeMatch) {\n    return {\n      pricingType: \"HOURLY\",\n      hourlyMin: Number(hourlyRangeMatch[1]),\n      hourlyMax: Number(hourlyRangeMatch[2])\n    };\n  }\n\n  const hourlyMatch = rawText.match(/\\$?(\\d+(?:\\.\\d+)?)\\s*-\\s*\\$?(\\d+(?:\\.\\d+)?)\\s*\\/\\s*hr/i);\n  if (hourlyMatch) {\n    return {\n      pricingType: \"HOURLY\",\n      hourlyMin: Number(hourlyMatch[1]),\n      hourlyMax: Number(hourlyMatch[2])\n    };\n  }\n\n  const fixedMatch = rawText.match(/budget[:\\s]+\\$?(\\d+(?:,\\d{3})*(?:\\.\\d+)?)/i);\n  if (fixedMatch) {\n    return {\n      pricingType: \"FIXED\",\n      fixedBudgetMin: Number(fixedMatch[1].replace(/,/g, \"\"))\n    };\n  }\n\n  return {\n    pricingType: \"UNKNOWN\"\n  };\n}\n\nfunction parseDuration(rawText) {\n  const shortTermMatch = rawText.match(/<\\s*(\\d+)\\s*month/i);\n  if (shortTermMatch) {\n    return `less than ${shortTermMatch[1]} month`;\n  }\n\n  const longTermMatch = rawText.match(/>\\s*(\\d+)\\s*months/i);\n  if (longTermMatch) {\n    return `${longTermMatch[1]}+ months`;\n  }\n\n  const match = rawText.match(\n    /(less than 1 month|1 to 3 months|3 to 6 months|6\\+ months|more than 6 months)/i\n  );\n\n  return match ? match[1] : undefined;\n}\n\nfunction parseWorkload(rawText) {\n  const lowWorkloadMatch = rawText.match(/<\\s*(\\d+)\\s*hr\\/wk/i);\n  if (lowWorkloadMatch) {\n    return `< ${lowWorkloadMatch[1]} hr/wk`;\n  }\n\n  const shorthandMatch = rawText.match(/>\\s*(\\d+\\+?)\\s*hr\\/wk/i);\n  if (shorthandMatch) {\n    return `${shorthandMatch[1]} hr/wk`;\n  }\n\n  const match = rawText.match(/(\\d+\\+?\\s*hrs?\\/week)/i);\n  return match ? match[1] : undefined;\n}\n\nfunction parseExperienceLevel(rawText) {\n  const match = rawText.match(/\\b(entry|intermediate|expert)\\b/i);\n  return match ? match[1][0].toUpperCase() + match[1].slice(1).toLowerCase() : undefined;\n}\n\nfunction extractTitle(subject, rawText) {\n  const subjectTitle = pickString(subject)\n    ?.replace(/^new jobs matching:\\s*/i, \"\")\n    .replace(/^new job:\\s*/i, \"\");\n  if (subjectTitle) {\n    return subjectTitle;\n  }\n\n  const firstSentence = rawText.split(/\\r?\\n|\\.\\s/).find((line) => line.trim().length > 12);\n  return firstSentence ? firstSentence.trim() : \"Yahoo job alert\";\n}\n\nfunction extractPostedAt(rawText) {\n  const match = rawText.match(/Posted on (\\d{4}-\\d{2}-\\d{2}) (\\d{2}:\\d{2})/i);\n  if (!match) {\n    return undefined;\n  }\n\n  // Upwork shows this timestamp in UTC in the email HTML tooltip.\n  return `${match[1]}T${match[2]}:00.000Z`;\n}\n\nfunction extractVisibleSkills(rawText) {\n  const matches = [...rawText.matchAll(/^\\s*([A-Za-z0-9.+/# -]{2,40}):\\s+https?:\\/\\/www\\.upwork\\.com\\/jobs\\/~/gim)];\n  const excludedLabels = new Set([\n    \"more\",\n    \"view job details\",\n    \"privacy policy\",\n    \"contact support\",\n    \"manage your alert preferences\"\n  ]);\n\n  return [...new Set(matches\n    .map((match) => match[1].trim())\n    .filter((label) => !excludedLabels.has(label.toLowerCase()))\n    .filter((label) => !/^\\+\\d+$/.test(label))\n    .filter((label) => !/^\\d+$/.test(label)))];\n}\n\nfunction extractClientCountry(rawText) {\n  const match = rawText.match(\n    /\\$\\d+(?:,\\d{3})*(?:\\.\\d+)?\\s+spent\\s+([A-Za-z][A-Za-z .'-]{1,40})\\s+[A-Za-z0-9.+/# -]{2,40}:\\s+https?:\\/\\/www\\.upwork\\.com\\/jobs\\//i\n  );\n\n  return match ? match[1].trim() : undefined;\n}\n\nfunction extractClientSpent(rawText) {\n  const match = rawText.match(/\\$(\\d+(?:,\\d{3})*(?:\\.\\d+)?)\\s+spent/i);\n  return match ? Number(match[1].replace(/,/g, \"\")) : undefined;\n}\n\nfunction extractClientRating(rawText) {\n  const match = rawText.match(/Payment verified\\s+(\\d(?:\\.\\d{1,2})?)\\s+\\$\\d/i);\n  return match ? Number(match[1]) : undefined;\n}\n\nconst input = $json;\nconst headers = input.headers ?? {};\nconst subject = pickString(\n  cleanHeaderValue(input.subject),\n  cleanHeaderValue(headers.subject)\n) ?? \"Yahoo job alert\";\nconst sender = pickString(\n  extractEmail(input.from?.text),\n  extractEmail(input.from?.address),\n  extractEmail(input.from),\n  extractEmail(headers.from),\n  extractEmail(headers.sender)\n) ?? \"unknown\";\nconst externalId = pickString(\n  cleanHeaderValue(input.messageId),\n  cleanHeaderValue(headers[\"message-id\"]),\n  input.id\n);\nconst receivedAt = toIsoDate(\n  input.date ?? input.receivedAt ?? input.sentDate ?? cleanHeaderValue(headers.date)\n);\nconst html = pickString(input.html, input.htmlBody, input.messageHtml) ?? \"\";\nconst text = pickString(input.text, input.textPlain, input.messageText) ?? stripHtml(html);\nconst postedAt = extractPostedAt(text);\nconst pricing = parsePricing(text);\nconst visibleSkills = extractVisibleSkills(text);\n\nreturn {\n  json: {\n    channel: \"EMAIL_ALERT\",\n    externalId,\n    subject,\n    sender,\n    receivedAt,\n    postedAt,\n    title: extractTitle(subject, text),\n    sourceUrl: extractJobUrl(text, html),\n    rawText: text,\n    summary: text.slice(0, 280),\n    pricingType: pricing.pricingType,\n    hourlyMin: pricing.hourlyMin,\n    hourlyMax: pricing.hourlyMax,\n    fixedBudgetMin: pricing.fixedBudgetMin,\n    durationText: parseDuration(text),\n    workloadText: parseWorkload(text),\n    experienceLevel: parseExperienceLevel(text),\n    visibleSkills,\n    rawPayload: {\n      source: \"yahoo-imap\",\n      mailbox: pickString(input.mailbox, input.folder) ?? \"INBOX\",\n      originalHtml: html || undefined,\n      originalText: text,\n      headers,\n      derived: {\n        agencyRequired: /agency required/i.test(text),\n        clientCountry: extractClientCountry(text),\n        clientPaymentVerified: /payment verified/i.test(text),\n        clientRating: extractClientRating(text),\n        clientSpent: extractClientSpent(text),\n        postedAt,\n        visibleSkills\n      }\n    }\n  }\n};\n"
      },
      "id": "a96ea83a-6209-4477-b88f-f87c4f3b14dd",
      "name": "Normalize Yahoo Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "notesInFlow": true,
      "notes": "Keep this node small and deterministic. It converts the raw IMAP item into the backend intake contract."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/intake/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-intake-key",
              "value": "replace-with-your-intake-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "5370e65f-7d61-4541-97e6-d06a38504a7e",
      "name": "Post Intake to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "notesInFlow": true,
      "notes": "If n8n runs on the same host as the API, change the URL to http://localhost:4000/api/intake/email."
    }
  ],
  "connections": {
    "Yahoo IMAP Trigger": {
      "main": [
        [
          {
            "node": "Normalize Yahoo Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Yahoo Alert": {
      "main": [
        [
          {
            "node": "Post Intake to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f63f18f4-6bbb-4900-a6a4-57e6a9e06b2d",
  "id": "yahoo-upwork-alerts-api-intake",
  "tags": []
}
